@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
* {
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    background-color: #fafafa;
    color: #000;
    margin: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
}

.navbar .avatar-logo {
    width: 28px;
    height: 28px;
    margin: 10px auto auto 10px;
}

.navbar .toggle-button {
    position: sticky;
    float: right;
    margin: 14px auto auto 10px;
}

.article-header {
    margin: 60px 16px 10px 16px;
    padding: 5px;
    border: 3px dotted #ccc;
    border-radius: 10px;
    text-align: center;
}

.article-header h3, p {
    margin: 5px 0 0 5px;
    text-align: left;
}

.article-header i {
    padding-top: 5px;
    font-size: 1.2rem;
}

.article-drop-list {
    display: none;
}

#myForm {
    margin: 0 15px;
}

body.dark-mode {
    background-color: #0D1117;
    color: #fafafa;
}

header.dark-mode {
    background-color: #161B22;
    color: #fafafa;
    border-color: #666;
}

th.dark-mode {
    background-color: #161B22;
    color: #fafafa;
    border-color: #666;
}

input.dark-mode {
    background-color: transparent;
    color: #fafafa;
}

article.dark-mode {
    background-color: #161B22;
    color: #fafafa;
    border-color: #666;
}

.navbar .toggle-button i {
    margin: 0 15px;
    cursor: pointer;
    font-style: normal;
    font-size: larger;
}

#sun-icon {
    display: none;
    color: goldenrod;
}

input {
    border: none;
    font-family: monospace;
    background-color: transparent;
}

input::placeholder {
    color: #222222;
}

input.dark-mode::placeholder {
    color: rgb(131, 155, 226);
}

#textArea {
    resize: horizontal;
    max-width: 100%;
}

header {
    background-color: #fafafa;
    color: #000;
    border: 1px solid #000;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EAEAEA;
}

header h1 input {
    padding-left: 3px;
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 9px 12px;
    font-size: x-large;
    margin-left: 3px;	
}
header h3, input {
    text-align: center;
    color: #000;
    border-radius: 10px;
    font-size: 1.1em;
}
header h2 {
    font-size: 1.1em;
    padding-left: 9px;
}
header h2 input {
    font-weight: bold;
    font-size: 0.9em;
}
header p {
    font-size: 1.0em;
    text-align: right;
}
header p input {
    cursor: text;
}
table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	border: 1px solid black;
}

td.dark-mode {
    border-color: #666;
}

th {
	background-color: #EAEAEA;
}

tfoot td {
	font-weight: bold;
}

.observaciones {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 20px;
}

.observaciones.dark-mode {
    border-color: #666;
}
.observaciones li {
    margin: 5px;
}
option, select {
    font-size: 0.95em;
    cursor: pointer;
}
.enviar {
    text-align: center;
}
.enviar button {
    border: 1px solid #000;
    padding: 10px 14px;
    border-radius: 100px;
    margin: 10px 5px auto;
    cursor: pointer;
    background-color:#fafafa;
}
.enviar button:hover {
    opacity: .7;
    transition: .3s;		
}
.contacto {
    border: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    padding: 20px;
    margin: 5px auto;
    background-color: #EAEAEA;
}
.contacto-dark-mode {
    background-color: #211A1A;
}
.contacto a {
    text-decoration: none;
    color: royalblue;
    padding: 5px;
    font-size: 1.1em;
}
.contacto a:hover {
    text-decoration: underline;
}
.contacto i {
    font-size: 1.3em;
}

.contacto i:hover {
    transform:translateY(-15%);
    transition: 0.1s ease-in-out;
}
.contacto iframe {
    margin: 15px auto;
    width: 320px;
    height: auto;
    border-radius: 10px;
}

.contactos input {
    width: 80px;
}

/* Modal Card */
.card-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.103);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes lightSpeedInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
      transform: translate3d(-100%, 0, 0) skewX(30deg);
      opacity: 0;
    }
  
    60% {
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: skewX(5deg);
      transform: skewX(5deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

.compartirMenu {
    padding: 5px;
    background-color: #ccc;
    width: 100%;
    height: auto;
    border: 1px solid #222222;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.2s;
    color: rgb(0, 0, 0);
    animation: lightSpeedInLeft;
    animation-duration: .6s;
}
#colab {
    border: 1px solid #000;
    padding: 8px;
    border-radius: 3px;
    font-weight: 500;
}
#colab:hover {
    background: linear-gradient(
    180deg, lightgreen, yellowgreen);
	color: white;
    transition: .3s all;
    box-shadow: 2px 3px 7px #777;
}
.enviar span {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    width: fit-content;
}
.compartirMenu a {
    color: tomato;
    text-decoration: none;
}
.redesMenu button {
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}
.redesMenu i:hover {
    transform: scale(1.2);
    text-shadow: 2px 3px 7px #777;
}
.redesMenu #face:hover {
    color: royalblue;
}
.redesMenu #twitt:hover {
    color: rgb(0, 140, 255);
}
.redesMenu #what:hover {
    color: rgb(10, 161, 10);
}
.redesMenu #linked:hover {
    color: rgba(0, 68, 255, 0.795);
}
.redesMenu i {
    padding: 5px;
    font-size: 1.75em;
}
.redesMenu hr {
    border-radius: 50%;
}
#cerrarCarta {
    cursor: pointer;
    float: right;
    border: none;
    margin: 2px 2px auto;
    font-size: 1.3rem;
}

#cerrarCarta:hover {
    transition: .1s all;
    color: tomato;
}

footer {
	margin-top: 20px;
	text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
}
footer a {
    text-decoration: none;
    color: rgb(0, 140, 255);
}
footer a:hover {
    text-decoration: underline;
}
input[type="color"] {
    background-color: transparent;
    width: 25px;
}
/* Responsive */

@media screen and (min-width:1100px) {
    .contacto iframe {
        width: 420px;
        height: 200px;
    }
    .article-header {
        margin: 60px 100px 25px;
    }
    #myForm {
        margin: 0 200px;
    }
    #fact {
        width: max-content;
    }
}

@media screen and (max-width:980px) {
    body {
        display: block;
    }
    input {
        width: 55px;
    }
    header h1 input {
        padding-left: 3px;
    }
    header h2 input {
	  width: 50%;
    }
    #textArea {
        width: 118px;
    }
}

@media screen and (max-width:740px) {
    body {
        display: block;
    }
    input {
        width: 55px;
    }
    header h2 input {
    	width: 38%;
    }
    #num-form {
      width: 22%;
    }
    .compartirMenu {
        margin: 0 10px;
    }
    header h1 input {
      	width: 60%;
        padding-left: 3px;
    }
    #textArea {
        max-width: 65px;
    }
    .contacto a:hover {
    text-decoration: none;
    }
    .contactos a {
      font-size: 0.9rem;
    }
    .contactos i {
        font-size: 0.9rem;
    }
}

@media print {
    body {
        max-height: 100%;
    }
    .navbar {
        display: none;
    }
    .article-header {
        display: none;
    }
    .enviar {
        display: none;
    }
    .contacto iframe {
        width: auto;
        height: 120px;
    }
    .input::placeholder {
        color: #222222;
    }
}

#anuncio {
    animation: jello;
    animation-duration: 1.6s;
}

@keyframes jello {
    from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }

#anuncio a {
    text-decoration: none;
}
.container-forma input {
    width: 55%;
}


