@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');

* {
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    background-color: #fafafa;
    color: #000;
    margin: 0;
    transition: background-color 0.4s;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 9;
}

.navbar .avatar-logo {
    position: relative;
    top: -1px;
    width: 33px;
    height: 33px;
    margin-left: 10px;
}

.toggle-button {
    position: relative;
    float: right;
    right: 10px;
    margin: 10px auto;
}

.navbar .toggle-button i {
    cursor: pointer;
    font-style: normal;
    font-size: 1.5rem;
}

#sun-icon {
    display: none;
}

/**|||||||||||||
# NAVBAR TOOLS |
||||||||||||||||*/
.tools-container-list {
    position: relative;
    display: inline-flex;
    list-style: none;
    margin-left: -25px;
    padding-top: 3px;
    gap: 10px;
}

#save-button {
    position: relative;
    top: -5px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: .2s all;
}

#deleteButton {
    position: relative;
    top: -5px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: .2s all;
}

#reloadButton {
    position: relative;
    top: -3px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transform: rotate(50deg);
}

/* CREATE NEW TABLE BUTTON */
#create-table-button {
    font-size: 1.2rem;
    background-color: rgb(131, 155, 226);
    border-radius: 100%;
    color: #f2f2f2;
    cursor: pointer;
    transition: .3s all;
}

.newTable {
    display: none;
}

.tools-container-list li:hover {
    transform: scale(1.1);
    text-shadow: 2px 3px 7px #888;
    transition: .2s ease-in-out;
}

/* ACORDEON HEADER */

.article-header {
    position: relative;
    margin: 60px 16px 30px 16px;
    padding: 5px;
    border: 3px groove #ccc;
    border-radius: 10px;
    text-align: center;
}

.article-header li {
    text-align: left;
    font-style: italic;
    line-height: 1.4;
}

.article-header h3, p {
    margin: 5px 0 0 5px;
    text-align: left;
}

.article-header .como-lo-uso {
    margin: 10px auto 0;
}

.article-header #mas-info {
    font-size: 1.1em;
}

.drop-chevron {
   position: relative;
   top: 3.5px;
   font-size: 1.5em;
}

.article-drop-list {
    display: none;
    animation: backInDown .6s ease-in-out;
}

.article-drop-list li {
    font-size: 0.9em;
}

@-webkit-keyframes backInDown {
    0% {
      -webkit-transform: translateY(-1200px) scale(0.7);
      transform: translateY(-1200px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes backInDown {
    0% {
      -webkit-transform: translateY(-1200px) scale(0.7);
      transform: translateY(-1200px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateY(0px) scale(0.7);
      transform: translateY(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
.animate__backInDown {
    -webkit-animation-name: backInDown;
    animation-name: backInDown;
}

/**||||||||||||||
#### DARK MODE  |
|||||||||||||||||*/
body.dark-mode {
    background-color: #000214;
    color: #fafafa;
}

.avatar-logo.dark-mode {
    fill: #fff;
}

header.dark-mode {
    background-color: #000214;
    color: #fafafa;
    border-color: #666;
}

th.dark-mode {
    background-color: #000214;
    color: #fafafa;
    border-color: #666;
}

td.dark-mode {
    border-color: #666;
}

input.dark-mode {
    background-color: transparent;
    color: #fafafa;
}

input.dark-mode::placeholder {
    color: rgb(131, 155, 226);
}

article.dark-mode {
    background-color: #161B22;
    color: #fafafa;
    border-color: #666;
}

.observaciones.dark-mode {
        border-bottom: 1px solid #666;
        border-left: 1px solid #666;
        border-right: 1px solid #666;
}

.contacto.dark-mode {
    background-color: #000214;
}

/**|||||||
* INPUTS |
||||||||||*/
input {
    border: none;
    font-family: monospace;
    background-color: transparent;
    width: auto;
}

input::placeholder {
    color: #222222;
    font-size: 0.9rem;
}

/**|||||||
* HEADER |
||||||||||*/
header {
    position: relative;
    background-color: #fafafa;
    color: #000;
    border: 1px solid #000;
    margin-bottom: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EAEAEA;
    z-index: 1;
}

.header-title {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 100px;
    height: 150px;
    filter: grayscale(60%);
}

header #patternId {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: x-large;
    margin-left: 10px;	
    width: fit-content;
}

header h1 input::placeholder {
    font-size: 1.3rem;
    text-transform: uppercase;
}

header h3, input {
    text-align: center;
    color: #000;
    border-radius: 10px;
    font-size: 1.1em;
}

header h2 {
    font-size: 1.1em;
    padding-left: 5px;
}

header h2 input {
    font-weight: bold;
    font-size: 0.9em;
}

header p {
    font-size: 1.0em;
    text-align: right;
}

header p input {
    cursor: text;
}

header #fecha {
    margin: 3px 5px 5px 0;
    text-align: right;
}

header #numeroFact {
    margin: 0 5px auto;
    text-align: right;
    width: 120px;
}

/**||||||
* TABLA |
|||||||||*/

.tabla {
    width: 100%;
	border-collapse: collapse;
}

.tabla .descripcion {
    width: 250px;
}

.tabla .cantidad {
    width: 50px;
}

#cantidad-762 {
    display: none;
}

.tabla .precio {
    width: 50px;
}

.tabla .total {
    width: 80px;
}

#producto1,
#producto2,
#producto3,
#producto4 {
    width: 200px;
}

th, td {
    padding: 5px;
	border: 1px solid black;
}

td input {
    margin: 0;
    width: 100%;
}

th {
	background-color: #EAEAEA;
}


tfoot td {
	font-weight: bold;
}

/**||||||||||||||||||||||
# SECCION OBSERVACIONES |
|||||||||||||||||||||||||*/
.observaciones {
    position: relative;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 20px;
}

.observaciones h3 {
    font-size: 1.2rem;
}

.observaciones li {
    font-size: 1rem;
    margin: 5px;
}

.observaciones #num-form {
    width: 75px;
}

select {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}

option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
}
  
option:checked {
    background-color: rgba(62, 61, 117, 0.7);
    color: #fff;
}

.observaciones .container-forma {
   display: inline;
   font-size: 0.9rem;
   margin: 0;
}

.enviar {
    text-align: center;
    margin-bottom: 60px;
}

.enviar button {
    border: 1px solid #000;
    padding: 10px 14px;
    border-radius: 100px;
    margin: 10px 5px auto;
    cursor: pointer;
    background-color:#fafafa;
}
.enviar button:hover {
    background-color: #000;
    box-shadow: -1px 3px 10px #777;
    color: #fafafa;
    transition: .3s;		
}
/**|||||||||||||||||
* Sección Contacto |
||||||||||||||||||||*/
.contacto {
    position: relative;
    border: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    padding: 10px 20px;
    margin: 2px auto;
    background-color: #EAEAEA;
    z-index: 1;
}

.contacto #h4 {
    margin: 10px 0 20px;
}

.contacto #patternId {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contacto a {
    text-decoration: none;
    color: royalblue;
    padding: 5px;
    font-size: 1.1em;
}

.contacto i:hover {
    transform:translateY(-15%);
    transition: 0.1s ease-in-out;
}

.contacto iframe {
    margin: 15px auto;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.contactos input {
    width: 80px;
}


/*|||||||||||||
 # Modal Card |
 ||||||||||||||*/
 .card-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.103);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

@keyframes lightSpeedInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
      transform: translate3d(-100%, 0, 0) skewX(30deg);
      opacity: 0;
    }
  
    60% {
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: skewX(5deg);
      transform: skewX(5deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

.compartirMenu {
    background: radial-gradient(ellipse 80% 50% at 50% 120%, rgba(62, 61, 117), rgba(18, 18, 38));
    width: 100%;
    height: auto;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.2s;
    color: #fafafa;
    animation: lightSpeedInLeft;
    animation-duration: .6s;
    z-index: 9;
}

.compartirMenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: auto;
    height: 100%;
    animation: shimmer 1.5s infinite linear;
    background: conic-gradient(from 270deg, transparent 0deg, hsla(0, 0%, 100%, 1) 90deg, transparent 180deg);
}

.compartirMenu .colaboracion {
    border: none;
}

.colaboracion p {
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}

.colaboracion a {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 4px 10px;
    text-decoration: none;
    color: #EAEAEA;
    font-weight: 900;
}

.colaboracion a:hover {
    background-color: greenyellow;
    filter: drop-shadow(0 0 10px greenyellow);
    color: #222222;
    transition: .9s ease-in-out;
}

.compartirMenu .tw-followCard {
    border: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.compartirMenu .tw-followCard-header {
    display: inline-flex;
    background-color: transparent;
    align-items: center;
    gap: 8px;
}

.compartirMenu .tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.compartirMenu .tw-followcard-infoUserName {
    opacity: .6;
}

.compartirMenu .tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.compartirMenu .tw-followCard-button {
    margin-left: 5px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}

.compartirMenu .tw-followCard-button:hover {
    opacity: .8;
}

.redesMenu p {
    margin: 10px 0 0 0;
    text-align: center;
}

.redesMenu button {
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #fafafa;
}

.redesMenu #X-logo {
    position: relative;
    top: 3px;
    width: 21px;
    height: 21px;
}

.redesMenu i:hover {
    transform: scale(1.2);
    text-shadow: 2px 3px 7px #777;
    transition: .2s all;
}

.redesMenu #face:hover {
    color: royalblue;
}

.redesMenu #X-logo:hover {
    transform: scale(1.2);
    transition: .2s all;
}

.redesMenu #what:hover {
    color: rgb(10, 161, 10);
}

.redesMenu #linked:hover {
    color: rgba(0, 68, 255, 0.795);
}

.redesMenu i {
    padding: 5px;
    font-size: 1.75em;
}

.redesMenu hr {
    border-radius: 50%;
}

#cerrarCarta {
    cursor: pointer;
    float: right;
    border: none;
    margin: 3px 3px auto;
    font-size: 1.3rem;
    color: tomato;
}

#cerrarCarta:hover {
    transition: .1s all;
    transform: scale(1.1);
}

/* MODAL SAVE & DELETE CARDS */
.modal-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.103);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-style {
    width: 300px;
    height: auto;
    color: #fafafa;
    display: inline-block;
    text-align: center;
    padding: 10px;
    background: radial-gradient(ellipse 80% 50% at 50% 20%, rgba(62, 61, 117), rgba(18, 18, 38));
    border-radius: 10px;
    animation: zoomIn .3s ease-in-out;
}

.modal-style button {
    color: #fafafa;
}

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}
/**
* BOTTOM LIST CONTACT
*/

.bottom-stycky-list {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    height: 45px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 100px;
    z-index: 3;
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bottom-stycky-list hr {
    height: 43px;
    margin: 0 auto;
}

.bottom-stycky-list ul {
    display: flex;
    position: relative;
    left: -22px;
    margin: 0;
    list-style: none;
}

.bottom-stycky-list ul li i {
    font-size: 30px;
    margin: 5px 10px auto;
    cursor: pointer;
}

.bottom-stycky-list #share-button {
    position: relative;
    top: 3px;
}

.contactame {
    position: relative;
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
    font-variant: small-caps;
    font-weight: 900;
}

#phone-me {
    position: relative;
    top: 1px;
    font-size: 33px;
}

/**|||||||
* FOOTER |
||||||||||*/
footer {
	margin-top: 20px;
	text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
}
footer a {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

footer a:hover {
    text-decoration: underline;
}

input[type="color"] {
    background-color: transparent;
}

/*-----------|
Responsive   |
------------*/

@media (min-width:1100px) {
    #myForm {
        margin: 0 200px;
    }
    .contacto iframe {
        width: 500px;
        height: 200px;
    }
    .article-header {
        margin: 60px 100px 25px;
    }
    .article-drop-list li {
        font-size: 1em;
    }
    .header-title {
        position: absolute;
        top: 15px;
        right: 40px;
        width: 140px;
        height: 140px;
    }
    .tabla .descripcion 
    #producto1,
    #producto2,
    #producto3,
    #producto4,
    #producto5,
    #producto6 {
        width: 400px;
    }
    .tabla 
    #cantidad1,
    #cantidad2,
    #cantidad3,
    #cantidad4,
    #cantidad5,
    #cantidad6 {
        width: 80px;
    }
    .tabla #total1,
    #total2,
    #total3,
    #total4,
    #total5,
    #total6 {
        width: 80px;
    } 
    .tabla .total {
        text-align: center;
        width: 50px;
    }
    .tabla .total input {
        width: 70px;
    }
    .contactos input {
        width: 100px;
    }
    .contactos #mail-input {
        width: 260px;
    }
    .compartirMenu {
        margin: 50px 300px;
    }
}

@media (max-width:762px) {
    #myForm {
        margin: 10px;
    }
    .article-header #mas-info {
        font-size: 1em;
    }
    .drop-chevron {
       font-size: 1.3em;
       bottom: 1px;
    }
    header #empresaNombre {
        width: max-content;
    }
    header #empresaNombre::placeholder {
        font-size: 1.1rem;
    }
    header h2 {
        font-size: 1em;
    }
    #cantidad-1100 {
        display: none;
    }
    #cantidad-762 {
        display: block;
    }
    .tabla {
        width: 100%;
    }
    .tabla .descripcion 
    #producto1,
    #producto2,
    #producto3,
    #producto4,
    #producto5,
    #producto6 {
        width: 80px;
    }
    .tabla .descripcion 
    #cantidad1,
    #cantidad2,
    #cantidad3,
    #cantidad4,
    #cantidad5,
    #cantidad6 {
        width: 50px;
    }
    .tabla #total1,
    #total2,
    #total3,
    #total4,
    #total5,
    #total6 {
        width: 80px;
    } 
    .observaciones #num-form {
        font-size: 0.8rem;
    }
    .compartirMenu {
        margin: 0 10px;
    }
    #mail-input {
        width: 80px;
    }
    .contacto iframe {
        width: fit-content;
        height: auto;
    }
    .contactos a {
       font-size: 0.8rem;
    }
    .contactos i {
        font-size: 0.9rem;
    }
    .bottom-stycky-list {
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        height: 45px;
        width: 100%;
        position: sticky;
        bottom: 0;
        left: 0;
        z-index: 3;
        border-radius: 0;
    }
    .bottom-stycky-list ul li i {
        margin: 5px 10px auto;
    }
}

@media print {
    body {
        max-height: 100%;
    }
    .navbar {
        display: none;
    }
    .article-header {
        display: none;
    }
    .header-title {
        width: 153px;
        height: 153px;
        position: absolute;
        top: 10px;
        right: 30px;
    }
    .enviar {
        display: none;
    }
    .observaciones h3 {
        font-size: 0.9rem;
    }
    .contacto {
        position: relative;
        border: 1px solid #000;
        height: 110px;
    }
    .contacto iframe {
        position: absolute;
        top: -5px;
        left: 10px;
        height: 110px;
    }
    .contactos {
        position: absolute;
        right: 10px;
        width: 420px;
    }
    #mail-input {
        width: 220px;
    }
    .input::placeholder {
        color: #222222;
    }
    .bottom-stycky-list {
        display: none;
    }
    .contactame {
        display: none;
    }
    .bring-me-coffee {
        display: none;
    }
    footer {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
}

/**------------|
## POP UP      | 
---------------*/
#anuncio {
    animation: jello;
    animation-duration: 1.6s;
}

@keyframes jello {
    from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
  }

#anuncio a {
    text-decoration: none;
}
.container-forma input {
    width: 55%;
}

/**
* SHIMER BUTTON
*/
.shimmer-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 24px;
    background: radial-gradient(ellipse 80% 50% at 50% 120%, rgba(62, 61, 117), rgba(18, 18, 38));
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s;
}


.shimmer-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px 8px rgba(62, 61, 117, 0.7);
}

.shimmer-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: auto;
    height: 100%;
    animation: shimmer 1.5s infinite linear;
    background: conic-gradient(from 270deg, transparent 0deg, hsla(0, 0%, 100%, 1) 90deg, transparent 180deg);
}

.shimmer-button-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #ffffff;
}

.shimmer-button-content i {
    margin-right: 5px;
}

@keyframes shimmer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* LOADER */
.container-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.103);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loader {
    position: fixed;
    top: 50%;
    left: 44%;
    width: 60px;
    z-index: 99;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,rgba(62, 61, 117) 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
}

/* END BUTTON */
.bring-me-coffee {
    text-align: center;
    margin: 20px;
}

.bring-me-coffee p {
    text-align: center;
    margin-bottom: 10px;
}

.bring-me-coffee i {
    font-size: 1.1rem;
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.bring-me-coffee button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 24px;
    background: radial-gradient(ellipse 80% 50% at 50% 120%, rgb(58, 57, 102), orange);
    border-radius: 100px;
    border: 1px solid rgba(212, 212, 212, 0.3);
    transition: all 0.3s;
    font-size: 1.01rem;
}

.bring-me-coffee button:hover {
    transform: scale(1.02);
    filter: drop-shadow(1px 3px 7px #555);
}
